{require_otp_vsn, "R14"}.
{erl_opts, [verbose,
            debug_info,
            %% warnings_as_errors,
            warn_export_vars,
            warn_obsolete_guard,
            warn_unused_import]}.
{eunit_opts, [verbose]}.
{cover_enabled, true}.
{deps, [{piqi_src, "", {git, "https://github.com/alavrik/piqi.git", {branch, "master"}}},
        {piqi, "", {git, "https://github.com/alavrik/piqi-erlang.git", {branch, "master"}}},
        {piqi_rpc, "", {git, "https://github.com/alavrik/piqi-rpc.git", {branch, "master"}}}]}.
{sub_dirs, ["rel"]}.
{pre_hooks, [{compile, "./protobuf.sh"}]}.
